{% load static %}

{% block head %}
  <title>{{ miembro.get_name }}</title>
{% endblock %}

{% block content %}
<body>
  <div class='flex justify-start'>
<h1 class='px-4 mb-2 text-2xl font-bold'>Registros de {{ miembro.get_name }}</h1>
  </div>
  <div class='above-table'>
    <h3>Total de registros: {{ registros.count }}</h3>
    <h3>Horas trabajadas: {{ miembro.get_time_worked_this_week }}</h3>
  </div>
  <table style='display: table !important;' class='custom-table'>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
        <tr>
          {% if registro.tipo == 'E' %}
            <td>Entrada</td>
          {% elif registro.tipo == 'S' %}
            <td>Salida</td>
          {% endif %}
          <td>{{ registro.get_full_date }}</td>
          <td>{{ registro.fecha.time }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> 
</body>
{% endblock %}
