{% extends 'registro/base.html' %}
{% load static %}

{% block head %}
  <title>{{ registros.0.miembro }}</title>
  <link rel="stylesheet" href={% static 'css/styles.css' %}>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
{% endblock %}

{% block content %}
  <body>
  <div class='m-4'>
    <h3 class='text-md font-semibold'>Total de registros: {{ registros.count }}</h3>
  </div>
  <table class='custom-table'>
    <thead>
      <tr>
        <th style='width: 4%;'>ID</th>
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
        <tr>
          <td>{{ registro.pk }}</td>
          {% if registro.tipo == 'E' %}
            <td>Entrada</td>
          {% elif registro.tipo == 'S' %}
            <td>Salida</td>
          {% endif %}
          <td>{{ registro.fecha.date }}</td>
          <td>{{ registro.fecha.time }}</td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
