body {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido {
  text-align: center;
  margin-bottom: 140px;
}

.btn_si {
  padding: 10px 41px;
  margin: 4px;
  border: none;
  border-radius: 16px;
  color: white;
  background-color: #1D1B4E;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn_cancelar {
  padding: 10px 16px;
  margin: 4px;
  border: none;
  border-radius: 16px;
  background-color: #E7E7FA;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
