body {
  /* overflow: hidden; */
}

table {
  width: 100%;
  table-layout: fixed;
  border-radius: 8px;
  border-spacing: 8px;
}

tbody {
  overflow-y: auto;
}

.above_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 6px;
}

.agregar_miembro {
  margin: 12px 0 12px 8px;
  border-radius: 8px;
  padding: 10px 14px;
  margin-right: 8px;
  border-radius: 16px;
  border: none;
  color: white;
  background-color: #1D1B4E;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn_editar, .btn_eliminar {
  border: none;
  color: #1D1B4E;
  cursor: pointer;
  background-color: #E7E7FA;
}

.nombre_link {
  color: black;
}

th {
  height: 20px;
  padding: 12px 0 12px 0;
  background-color: #1D1B4E;
  color: white;
  border-radius: 12px;
}

td {
  height: 30px;
  background-color: #E7E7FA;
  border-radius: 16px;
}

.columna_id {
  width: 60px;
}

.columna_nombre {
  width: 40%;
  text-align: left;
}

.columna_acciones {
  width: 8%;
}

.celda_nombre,
.columna_nombre,
.celda_misiones,
.celda_subsistemas,
.celda_id,
.celda_acciones,
.celda_horas_trabajadas {
  text-align: center;
}


