{% extends 'registro/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/miembros/formulario_miembro.css' %}">
{% endblock %}

{% block content %}
<div class='content'>
  <form method="post">
      {% csrf_token %}

      <label for='{{ form.nombre.id_for_label }}' class='label_form'>Nombre: </label>
      {{ form.nombre }}
      <div class='checkboxes_container'>
        <label for='{{ form.mision.id_for_label }}' class='label_form'>Mision: </label>
        {{ form.mision }}
        <label for='{{ form.mision.id_for_label }}' class='label_form'>Subsistema: </label>
        {{ form.subsistema }}
      </div>
      <label for={{ form.horas_acordadas.id_for_label }} class='label_form'>Horas de trabajo acordadas: </label>
      {{ form.horas_acordadas}}

      <button type="submit" class='btn_guardar'>Guardar</button>
      <button class='btn_cancelar' type='button' onclick='window.history.back()'>Cancelar</button>
  </form>
</div>
{% endblock %}
