{% extends 'registro/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <title>Miembros</title>
    <link rel="stylesheet" href={% static 'css/miembros/miembros.css' %}>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  {% endblock %}
  {% block user_name %} {{ user.nombre }} {% endblock %}
</head>
  <body>
    {% block content %}

    <div class='above_table'>
      <h3>Total de miembros: {{ miembros.count }}</h3>
      {% if user.is_admin %}
        <a href='{% url 'agregar_miembro' %}'>
          <button class='agregar_miembro'>Agregar miembro</button>
        </a>
      {% endif %}
    </div>

      <table>
        <thead>
        <tr>
          <th class='columna_id'>ID</th>
          <th class='columna_nombre'>Nombre</th>
          <th class='columna_horas_trabajadas'>Horas trabajadas</th>
          <th class='columna_misiones'>Misiones</th>
          <th class='columna_subsistemas'>Subsistemas</th>
          {% if user.is_admin %}
            <th class='columna_acciones'>Acciones</th>
          {% endif %}
        </tr>
        </thead>
        <tbody>
          {% for miembro in miembros %}
          <tr>
            <td class='celda_id'>{{ miembro.pk }}</td>
            <td class='celda_nombre'><a class='nombre_link' href='{% url 'registros' miembro.pk %}'>{{ miembro.nombre }}</a></td>
            <td class='celda_horas_trabajadas'> 0 / {{ miembro.horas_acordadas }}</td>
            <td class='celda_misiones'>
              {% for mision in miembro.mision.all %}
                {{ mision.nombre }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td class='celda_subsistemas'>
              {% for subsistema in miembro.subsistema.all %}
                {{ subsistema.nombre }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            {% if user.is_admin %}
              <td class='celda_acciones'>
                <a href='{% url 'editar_miembro' miembro.pk %}'>
                  <button class='btn_editar'>
                    <i class='material-symbols-outlined'>edit_square</i>
                  </button>
                </a>
                <a href='{% url 'eliminar_miembro' miembro.pk %}'>
                  <button class='btn_eliminar'>
                    <i class='material-symbols-outlined'>delete</i>
                  </button>
                </a>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock %}
  </body>
</html>

