{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
  <title>Miembros</title>
{% endblock %}

{% block content %}

<div class='m-4 flex flex-row justify-between'>
  <h3 class='mt-2 text-md font-semibold'>Total de miembros: {{ miembros.count }}</h3>
  {% if user.is_admin %}
    <a href='{% url 'agregar_miembro' %}'>
      <button class='add-button'>
        Agregar miembro
      </button>
    </a>
  {% endif %}
</div>

<table class='custom-table'>
  <thead>
    <tr>
      <th style='width: 4%;'>ID</th>
      <th style='width: 40%'>Nombre</th>
      <th style='width: 12%;'>Horas trabajadas</th>
      <th style='width: 18%;'>Misiones</th>
      <th style='width: 18%'>Subsistemas</th>
      {% if user.is_admin %}
        <th style='width: 8%;'>Acciones</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for miembro in miembros %}
      <tr>
        <td>{{ miembro.pk }}</td>
        <td>
          {% if user.pk == miembro.pk or user.is_admin %}
            <div 
            hx-get='{% url 'registros' miembro.pk %}'
            hx-target='#content'
            hx-push-url='true'>
          {% endif %}
            {{ miembro.nombre }}
          </div>
        </td>
        <td>0 / {{ miembro.horas_acordadas }}</td>
        <td>
          {% for mision in miembro.mision.all %}
            {{ mision.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for subsistema in miembro.subsistema.all %}
            {{ subsistema.nombre }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>

        {% if user.is_admin %}
          <td>
            <a href='{% url 'editar_miembro' miembro.pk %}'>
              <button class='btn_editar'>
                <i class='material-symbols-outlined'>edit_square</i>
              </button>
            </a>
            <a href='{% url 'eliminar_miembro' miembro.pk %}'>
              <button class='btn_eliminar'>
                <i class='material-symbols-outlined'>delete</i>
              </button>
            </a>
          </td>
        {% endif %}

      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
</html>

