{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Nop</title>
</head>
<body class='mt-[10%] h-screen w-full flex flex-col items-center bg-secondary'>
  <div class='flex flex-col justify-center items-center'>
    <h1 class='font-bold text-[4rem] text-primary'>A donde pa'?</h1>
    <h3>Tu no tienes el rol necesario para acceder a esta pagina. :(</h3>
  </div>
</body>
</html>
