{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
  <div 
    id='modal'
    class='w-full h-screen z-10 fixed flex justify-center items-center'
    style='background-color: rgba(0, 0, 0, 0.4); left: 0; top: 0;'>
    <div
        class='py-8 px-12 flex flex-col items-center bg-white min-w-[40%] w-fit h-fit rounded-xl' >
      <!-- style='margin-top: 15vh;' -->
      
      <h1 class='mb-4 text-2xl'>Editar información de {{ form.instance.nombre }}: </h1>
      <form enctype="multipart/form-data" action={{ url }} class='w-full' method='POST'>
        {% csrf_token %}

        <label for='{{ form.nombre.id_for_label }}' class=''>Nombre de la mision: </label>
        {{ form.nombre }}

        <label for='{{ form.lider.id_for_label }}' class=''>Lider de la mision: </label>
        {{ form.lider }}

        <div class='flex justify-end'>
          <button 
            class='mr-1 px-4 py-2 bg-secondary text-primary rounded-xl hover:shadow-xl'
            type='button' onclick='deleteModal()'>
            Cancelar
          </button>
          <button type="submit"
            class='bg-primary text-secondary px-4 ml-4 rounded-xl hover:shadow-xl'>
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>

<script>
  function deleteModal() {
    const modal = document.getElementById('modal');
    modal.remove();
  }
</script>

<style>
  .text-field {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #1D1B4E;
    margin-bottom: 2rem;
    background-color: white;
  }
</style>
