{% extends 'registro/base.html' %}
{% load static %}

{% block head %}
  <link rel='stylesheet' href='{% static 'css/subsistemas/formulario_subsistemas.css' %}'>
{% endblock %}

{% block content %}
<div class='content'>
  <form method='POST'>
    {% csrf_token %}

    <label class='label_form' for='{{ form.nombre.id }}'>Nombre del subsistema:</label>
    {{ form.nombre }}

    <label class='label_form' for='{{ form.lider.id_for_label }}'>Lider del subsistema:</label>
    {{ form.lider }}

    <button type="submit" class='btn_guardar'>Guardar</button>
    <button class='btn_cancelar' type='button' onclick='window.history.back()'>Cancelar</button>
  </form>
</div>

{% endblock %}
