{% load static %}

{% block head %}
  <title>Subsistemas</title>
{% endblock %}

{% block content %}

<div class='m-4 flex flex-row justify-between'>
  <h3 class='mt-2 text-md font-semibold'>Total de subsistemas: {{ subsistemas.count }}</h3>
  {% if user.is_admin %}
    <a href='{% url 'agregar_subsistema' %}'>
      <button class='add-button'>
        Agregar subsistema
      </button>
    </a>
  {% endif %}
</div>
<table class='custom-table'>
    <thead>
      <tr>
        <th style='width: 4%;'>ID</th>
        <th>Nombre</th>
        <th>Lider</th>
        <th style='width: 10%;'>N. miembros</th>
        {% if user.is_admin %}
          <th style='width: 8%;'>Acciones</th>
        {% endif %}
      </tr>
    </thead>
  <tbody>
    {% for subsistema in subsistemas %}
    <tr>
      <td>{{ subsistema.pk }}</td>
      <td>{{ subsistema.nombre }}</td>
      <td>{{ subsistema.lider.nombre }}</td>
      <td>{{ subsistema.miembro_set.count }}</td>
      {% if user.is_admin %}
        <td class='flex flex-row items-center justify-center'>
          <a class='mx-2 material-symbols-outlined' href='{% url 'editar_subsistema' subsistema.pk %}'>
            edit_square
          </a>
          <a class='mx-2 material-symbols-outlined' href='{% url 'eliminar_subsistema' subsistema.pk %}'>
              delete
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
