{% extends 'registro/base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href='{% static 'css/subsistemas/subsistemas.css' %}'>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<title>Subsistemas</title>
{% endblock %}

{% block content %}
<div class='above_table'>
  <h3>Total de subsistemas: {{ subsistemas.count }}</h3>
  {% if user.is_admin %}
    <a href='{% url 'agregar_subsistema' %}'>
      <button class='agregar_subsistema'>Agregar subsistema</button>
    </a>
  {% endif %}
</div>
<table>
    <thead>
    <tr>
      <th class='columna_id'>ID</th>
      <th class='columna_nombre'>Nombre</th>
      <th class='columna_lider'>Lider</th>
      <th class='columna_n_miembros'>N. miembros</th>
      {% if user.is_admin %}
        <th class='columna_acciones'>Acciones</th>
      {% endif %}
    </tr>
    </thead>
  <tbody>
    {% for subsistema in subsistemas %}
    <tr>
      <td class='celda_id'>{{ subsistema.pk }}</td>
      <td class='celda_nombre'>{{ subsistema.nombre }}</td>
      <td class='celda_lider'>{{ subsistema.lider.nombre }}</td>
      <td class='celda_n_miembros'>{{ subsistema.miembro_set.count }}</td>
      {% if user.is_admin %}
        <td class='celda_acciones'>
          <a href='{% url 'editar_subsistema' subsistema.pk %}'>
            <button class='btn_editar'>
              <i class='material-symbols-outlined'>edit_square</i>
            </button>
          </a>
          <a href='{% url 'eliminar_subsistema' subsistema.pk %}'>
            <button class='btn_eliminar'>
              <i class='material-symbols-outlined'>delete</i>
            </button>
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
