{% load static %}

{% block head %}
  <title>Subsistemas</title>
{% endblock %}

{% block content %}

<div class='above-table'>
  <h3>Total de subsistemas: {{ subsistemas.count }}</h3>
  {% if user.is_admin %}
  <a hx-get='{% url 'agregar_subsistema' %}' hx-target='#modal-place'>
        Agregar subsistema
    </a>
  {% endif %}
</div>

<div id='modal-place'></div>

<table class='custom-table'>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Lider</th>
        <th style='width: 10%;'>N. miembros</th>
        {% if user.is_admin %}
          <th style='width: 8%;'>Acciones</th>
        {% endif %}
      </tr>
    </thead>
  <tbody>
    {% for subsistema in subsistemas %}
    <tr>
      <td>{{ subsistema.nombre }}</td>
      <td>{{ subsistema.lider.nombre }}</td>
      <td>{{ subsistema.miembro_set.count }}</td>
      {% if user.is_admin %}
        <td class='flex flex-row items-center justify-center'>
          <a class='mx-2 cursor-pointer material-symbols-outlined' 
             hx-get='{% url 'editar_subsistema' subsistema.pk %}'
             hx-target='#modal-place'>
            edit_square
          </a>
          <a class='mx-2 cursor-pointer material-symbols-outlined'
             hx-get='{% url 'eliminar_subsistema' subsistema.pk %}'
             hx-target='#modal-place'>
              delete
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock %}
