.content {
  margin: 30px 30px;
  display: flex;
  flex-direction: vertical;
}
 form {
   width: 40%;
 }

#id_nombre {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #1D1B4E;
  margin-bottom: 40px;
}

.label_form {
  margin: 12px 0;
  display: block;
  font-size: 20px;
}

#id_lider {
  height: 34px;
  width: 104%;
  margin-bottom: 40px;
  height: 46px;
  border-radius: 8px;
  border: 2px solid #1D1B4E;
  background-color: white;
  padding-left: 10px;
}

.btn_guardar {
  width: 104%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 16px;
  border: none;
  color: white;
  background-color: #1D1B4E;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn_cancelar {
  width: 104%;
  padding: 10px;
  border-radius: 16px;
  border: none;
  background-color: #E7E7FA;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
