.content {
  margin: 30px 30px;
  display: flex;
  flex-direction: vertical;
}

.checkboxes_container {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 40px;
}

#id_horas_acordadas {
  margin-bottom: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.nombre {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  margin-bottom: 40px;
}

form {
  width: 40%;
}

#id_mision.checkbox_list,
#id_subsistema.checkbox_list {
  margin-top: 12px;
}

.label_form {
  margin: 12px 0;
  display: block;
  font-size: 20px;
}

.btn_guardar {
  width: 104%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.checkbox_list label {
  display: block;
  margin-bottom: 4px;
  flex: 1;
}

.checkbox_list input[type="checkbox"] {
  vertical-align: middle;
  flex: 2;
}

