table {
  background-color: lightgrey;
  overflow-y: auto;
  width: 100%;
  table-layout: fixed;
  border-radius: 8px;
}

.above_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4px;
}

.agregar_miembro {
  margin: 12px 0px;
  border-radius: 8px;
  padding: 8px;
}

th {
  height: 20px;
  border: 1px solid #ddd;
  padding: 8px;
}

td {
  height: 60px;
}

.columna_id {
  width: 60px;
}

.columna_nombre {
  width: 40%;
  text-align: left;
}

.columna_acciones {
  width: 10%;
}

.celda_misiones,
.celda_subsistemas,
.celda_id,
.celda_acciones {
  text-align: center;
}


