{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis miembros y misiones</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
</head>
  <body>
    <header>
      <h1>Aplicación de Gestión</h1>
    </header>

    <aside>
      <img src="{% static 'images/logo_horus_blanco_sf.png' %}" width=200px>
      <ul>
        <li><a href={% url 'index' %}>Inicio</a></li>
        <li><a href="{% url 'misiones' %}">Misiones</a></li>
        <li><a href={% url 'subsistemas' %}>Subsistemas</a></li>
      </ul>
    </aside>

    <div class='container'>
      {% block content %}

      {% endblock %}
    </div>

  </body>
</html>


