{% load static %}
<!DOCTYPE html>
<html class='h-screen' lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:500,800' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel='icon' href='{% static 'images/horus_icono_sf.png' %}'>
    <script src='{% static 'js/htmx.min.js' %}' defer></script>
    {% block head %}
    {% endblock %}
</head>
  <body class='font-montserrat m-0 bg-secondary grid h-screen' style='grid-template-columns: 250px 1fr; grid-template-rows: 70px 1fr;'>
    <header class='px-8 flex justify-between items-center bg-secondary text-primary' style='grid-column: 2 / 3; grid-row: 1 / 2'>
      <h1 class='font-extrabold text-2xl'>Aplicación de Gestión</h1>
      <div class='flex items-center'>
        <div class='px-2 flex flex-col items-end'>
          <p class='font-semibold text-md'>{{ user.get_name }}</p>
          <a 
            class='text-xs cursor-pointer hover:underline'
            hx-get={% url 'change_password' %}
            hx-target='#content'>
            Cambiar contraseña
          </a>
        </div>
        {% if user.profile_picture %}
          <div class='h-[50px] w-[50px] bg-cover bg-center rounded-full shadow-2xl' 
          style='background-image: url({{ user.profile_picture.url }});'></div>
        {% endif %}
      </div>
    </header>

    <aside class='flex flex-col h-screen bg-secondary text-primary' style='grid-column: 1 / 2; grid-row: 1 / 3;'>
      <img src="{% static 'images/logo_horus_blanco_sf.png' %}" width=200px style='margin: 1.25rem 0 2.5rem 1.5rem;'>
      <div class='h-full mx-6 flex flex-col justify-between'>
        <div class='h-content'>
          <a class='mb-8 flex items-center text-xl hover:font-bold cursor-pointer'
            hx-get='{% url 'miembros' %}' 
            hx-target='#content' 
            hx-push-url='true'>
            <div class='mr-2 material-icons'>group</div>
            Miembros
          </a>
          <a class='mb-8 flex items-center text-xl hover:font-bold cursor-pointer'
            hx-get='{% url 'misiones' %}'
            hx-target='#content'
            hx-push-url='true'>
            <div class='mr-2 material-icons'>rocket_launch</div>
            Misiones
          </a>
          <a class='mb-8 flex items-center text-xl hover:font-bold cursor-pointer'
            hx-get='{% url 'subsistemas' %}'
            hx-target='#content'
            hx-push-url='true'>
            <div class='mr-2 material-icons'>workspaces</div>
            Subsistemas
          </a>
        </div>

        <div>
          <a href={% url 'logout' %} class='mb-4 flex items-center text-xl hover:font-bold cursor-pointer'>
            <div class='mr-2 material-icons'>logout</div>
            <div class='text-base'>Cerrar sesión</div>
          </a>
        </div>
      </div>
    </aside>

    <div id='content'
      class='flex flex-col overflow-auto h-full bg-white p-4 mr-8 rounded-t-3xl drop-shadow-3xl'
      style='grid-column: 2 / 3; grid-row: 2 / 3;'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
