{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:500,800' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='icon' href='{% static 'images/horus_icono_sf.png' %}'>
    <script src='{% static 'js/htmx.min.js' %}' defer></script>
    {% block head %}
    {% endblock %}
</head>
  <body class='font-montserrat m-0 bg-white grid h-screen' style='grid-template-columns: 250px 1fr; grid-template-rows: 60px 1fr;'>
    <header class='px-4 flex justify-between items-center bg-secondary' style='grid-column: 2 / 3; grid-row: 1 / 2'>
      <h1 class='font-extrabold text-2xl'>Aplicación de Gestión</h1>
      <h3>{{ user.nombre }}</h3>
    </header>

    <aside class='m-0 bg-primary text-secondary' style='grid-column: 1 / 2; grid-row: 1 / 3;'>
      <img src="{% static 'images/logo_horus_blanco_sf.png' %}" width=200px style='margin: 1.25rem 0 2.5rem 1.5rem;'>
      <ul class='ml-6 p-0'>
        <li class='flex items-center text-xl mb-10 hover:font-bold cursor-pointer'>
          <i class='material-icons'>group</i>
          <a class='mx-2'
            hx-get='{% url 'miembros' %}' 
            hx-target='#content' 
            hx-push-url='true'>
            Miembros
          </a>
        </li>
        <li class='flex items-center text-xl mb-10 hover:font-bold cursor-pointer'>
          <i class='material-icons'>rocket_launch</i>
          <a class='mx-2'
            hx-get='{% url 'misiones' %}'
            hx-target='#content'
            hx-push-url='true'>
            Misiones
          </a>
        </li>
        <li class='flex items-center text-xl mb-10 hover:font-bold cursor-pointer'>
          <i class='material-icons'>workspaces</i>
          <a class='mx-2'
            hx-get='{% url 'subsistemas' %}'
            hx-target='#content'
            hx-push-url='true'>
            Subsistemas
          </a>
        </li>
        <li class='flex items-center text-xl mb-10 hover:font-bold cursor-pointer'>
          <i class='material-icons'>logout</i>
          <a href={% url 'logout' %} class='mx-2'>Cerrar sesión</a>
        </li>
      </ul>
    </aside>

    <div class='' style='grid-column: 2 / 3; grid-row: 2 / 3;'>
      <div id='content'>
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </body>
</html>


