table {
  /* overflow-y: auto; */
  /* overflow-x: auto; */
  width: 100%;
  table-layout: fixed;
  border-radius: 8px;
  border-spacing: 8px;
}

.above_table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4px;
}

.agregar_mision {
  margin: 12px 0 12px 8px;
  border-radius: 8px;
  padding: 10px 14px;
  border-radius: 16px;
  border: none;
  color: white;
  background-color: #1D1B4E;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.btn_editar, .btn_eliminar {
  border: none;
  color: #1D1B4E;
  cursor: pointer;
  background-color: #E7E7FA;
}

th {
  height: 20px;
  padding: 12px 0 12px 0;
  background-color: #1D1B4E;
  color: white;
  border-radius: 12px;
}

td {
  height: 30px;
  background-color: #E7E7FA;
  border-radius: 16px;
}

.columna_id {
  width: 60px;
}

.columna_acciones {
  width: 8%;
}

.columna_n_miembros,
.columna_nombre,
.columna_fecha_inicio,
.columna_fecha_finalizacion {
  width: 14%;
}

.columna_lider,
.celda_lider,
.celda_id,
.celda_n_miembros,
.celda_fecha_inicio,
.celda_fecha_finalizacion,
.celda_nombre,
.celda_acciones {
  text-align: center;
}
