{% load static %}

<html>
<head>
{% block head %}
  <title>Misiones</title>
{% endblock %}
</head>

{% block content %}
<div class='above-table'>
  <h3>Total de misiones: {{ misiones.count }}</h3>
  {% if user.is_admin %}
  <a hx-get='{% url 'agregar_mision' %}' hx-target='#modal-place'>
    Agregar mision
  </a>
  {% endif %}
</div>

<div id='modal-place'></div>

<table class='custom-table'>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Lider</th>
        <th style='width: 10%;'>N. Miembros</th>
        <th style='width: 14%;'>Fecha de inicio</th>
        <th style='width: 14%;'>Fecha de finalizacion</th>
        {% if user.is_admin %}
          <th style='width: 8%;border-top-right-radius: 18px;'>Acciones</th>
        {% endif %}
      </tr>
    </thead>
  <tbody>
    {% for mision in misiones %}
    <tr>
      <td>{{ mision.nombre }}</td>
      <td>{{ mision.lider.get_name }}</td>
      <td>{{ mision.miembro_set.count }}</td>
      <td>{{ mision.fecha_inicio }}</td>
      <td>{{ mision.fecha_finalizacion }}</td>
      {% if user.is_admin %}
        <td class='flex flex-row items-center justify-center'>
          <a class='mx-2 cursor-pointer material-symbols-outlined' 
            hx-get='{% url 'editar_mision' mision.pk %}'
            hx-target='#modal-place'>
            edit_square
          </a>
          <a class='mx-2 cursor-pointer material-symbols-outlined'
            hx-get='{% url 'eliminar_mision' mision.pk %}'
            hx-target='#modal-place'>
            delete
          </a>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
</html>
