{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script>
    function deleteModal() {
      const modal = document.getElementById('modal');
      modal.remove();
    }
  </script>

</head>

<body>
  <div id='modal'
    class='w-full h-screen z-10 fixed flex justify-center items-center'
    style='background-color: rgba(0, 0, 0, 0.4); left: 0; top: 0;'>
    <div class='py-8 px-12 flex flex-col items-center bg-white max-h-[90%] overflow-y-auto min-w-[30%] w-fit h-fit rounded-xl' >
      <h3 class='mb-4 text-xl font-bold'>Cambiar contraseña</h3>
      <form class='w-full flex flex-col' method='post'>
        {% csrf_token %}
        <label for="old_password">Contraseña anterior:</label>
        <div id="old-password-error"></div>
        <input
          name='old_password'
          type="password"
          hx-post='{% url 'old_password_validation' %}'
          hx-target='#old-password-error'
          hx-trigger='keyup[target.value.length > 3]'
        >

        <label for="">Contraseña nueva:</label>

        <div class='pb-4 text-sm'>
          {{ form.new_password1.help_text }}
        </div>

        <label for="">Confirmar contraseña:</label>

        <div class='flex justify-end'>
          <button 
            class='mr-1 px-4 py-2 bg-secondary text-primary rounded-xl hover:shadow-xl'
            onclick='deleteModal()'>
            Cancelar
          </button>
          <button 
            type='submit'
            class='bg-primary text-secondary px-4 ml-2 rounded-xl hover:shadow-xl'>
            Cambiar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
<style>
  #id_old_password,
  #id_new_password2,
  #id_new_password1 {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #1D1B4E;
    margin-bottom: 1rem;
    background-color: white;
  } 
</style>
